[submodule "vendor/bcdice"]
	path = vendor/bcdice
	url = https://github.com/bcdice/BCDice.git
[submodule "vendor/bcdice-irc-proto"]
	path = vendor/bcdice-irc-proto
	url = https://github.com/bcdice/bcdice-irc-proto.git
